{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-4 mb-4">
        <h1>Créer une course</h1>

        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            <div class="form-group mt-4">
                {{ form_row(form.Nom, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group mt-4">
                {{ form_label(form.Circuit, 'Choisissez un circuit', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.Circuit, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group mt-4">
                {{ form_row(form.Dateheure, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group mt-4">
                {{ form_row(form.Participants, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group mt-4">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        {{ form_end(form) }}

    </div>
{% endblock %}